/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define default_layer 0
#define navmed_layer 1
#define btnump_layer 2
#define symbol_layer 3
#define function_layer 4
#define game_layer 5

/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <3 4>;
            bindings = <&kp ESC>;
        };
        combo_tab {
            timeout-ms = <50>;
            key-positions = <2 3>;
            bindings = <&kp TAB>;
        };
        combo_caps {
            timeout-ms = <50>;
            key-positions = <2 3 4>;
            bindings = <&kp CAPS>;
        };
    }; 
    
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        
                default_layer {
                        bindings = <
   &none  &kp Q      &kp W       &kp F       &kp P       &kp B      &kp J      &kp L       &kp U       &kp Y       &kp DEL    &none
   &none  &hm LGUI A &hm LCTRL R &hm LSHFT S &hm LALT T  &kp G      &kp H      &hm LALT N  &hm RSHFT E &hm RCTRL I &hm RGUI O &none
   &none  &kp Z      &kp X       &kp C       &kp D       &kp V      &kp K      &kp M       &kp COMMA   &kp DOT     &kp APOS   &none
                                 &lt 2 RET   &lt 1 GRAVE &none      &none      &lt 3 SPACE &lt 4 BSPC
                        >;
                };
                
                navmed_layer {
                        bindings = <
   &none  &none     &none     &none     &none     &tog 5     &none &kp HOME   &kp END      &kp PG_UP  &kp PG_DN    &none
   &none  &kp LGUI  &kp LCTRL &kp LSHFT &kp LALT  &none      &none &kp LEFT   &kp DOWN     &kp RIGHT  &kp UP       &none
   &none  &kp LC(Z) &kp LC(X) &kp LC(C) &kp LC(V) &none      &none &kp C_PREV &kp C_VOL_DN &kp C_NEXT &kp C_VOL_UP &none
                   	          &none     &none     &none      &none &kp C_PP   &kp C_MUTE
                        >;
                };
                
                btnump_layer {
                        bindings = <
   &none &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3  &kp MINUS   &kp KP_N7 &kp KP_N8 &kp KP_N9 &kp KP_MULTIPLY &none
   &none &kp LGUI   &kp LCTRL    &kp LSHFT    &kp LALT     &none         &kp KP_PLUS &kp KP_N1 &kp KP_N2 &kp KP_N3 &kp KP_N0       &none
   &none &none      &none        &kp DOT      &kp COMMA    &none         &kp KP_NUM  &kp KP_N4 &kp KP_N5 &kp KP_N6 &kp KP_DIVIDE   &none
                                 &none        &none        &none         &none       &kp EQUAL &kp BSPC
                        >;
                };

                symbol_layer {
                        bindings = <
   &none &kp LBKT &kp RBKT &kp HASH &kp DLLR &kp PRCNT   &none &none    &none     &none     &none    &none
   &none &kp LPAR &kp RPAR &kp EXCL &kp AT   &kp CARET   &none &kp RALT &kp RSHFT &kp RCTRL &kp LGUI &none
   &none &kp LBRC &kp RBRC &kp AMPS &kp BSLH &kp PIPE    &none &none    &none     &none     &none    &none
                    	   &kp SEMI &kp FSLH &none       &none &none    &none
                        >;
                };
                
                function_layer {
                        bindings = <
   &none &kp F1 &kp F2  &kp F3  &kp F4  &none   &none &none &none &none &none &none
   &none &kp F5 &kp F6  &kp F7  &kp F8  &none   &none &none &none &none &none &none
   &none &kp F9 &kp F10 &kp F11 &kp F12 &none   &none &none &none &none &none &none
                    	&none   &none   &none   &none &none &none
                        >;
                };
                
                game_layer {
                        bindings = <
   &none &kp KP_N1 &kp Q     &kp W     &kp E     &kp R         &tog 5 &none &none &none &none &none
   &none &kp LSHFT &kp A     &kp S     &kp D     &kp F         &none  &none &none &none &none &none
   &none &kp LCTRL &kp KP_N2 &kp KP_N3 &kp X     &kp C         &none  &none &none &none &none &none
                             &kp ENTER &kp SPACE &none         &none  &none &none
                        >;
                };
        };
};

